body {
    background-image: url(Assets/Images/night.gif);
}

.container {
    position: relative;
}

.twitter {
    width: 150px;
    height: 150px;
    padding: 20px;
  
    position: absolute;
    top: 50%;
    left: 50%;
  
    margin: -75px 0 0 -75px;

}